body {
  margin: 0;
  padding: 0;
  font-family: 'Yandex Sans Display Regular';
  background: #FFF;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 26px;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

table {
  border-collapse: collapse;
}

td {
  border-right: 1px solid #d1d1d1;
}

tr {
  border: 1px solid #d1d1d1;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.transition-loader {
  position: absolute;
  margin-top: 100px;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

.transition-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: #343E9D;
  padding: 0 100px;
  text-align: center;
}
.transition-loader-inner label {
  font-size: 1em;
  padding: 1%;
  opacity: 0;
  display: inline-block;
}
.transition-loader-inner label:after {
  font-family: FontAwesome;
  content: '\f111';
}

.transition-loader-inner label:nth-child(1) {
  -webkit-animation: loader 3s 600ms infinite ease-in-out;
  animation: loader 3s 600ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(2) {
  -webkit-animation: loader 3s 500ms infinite ease-in-out;
  animation: loader 3s 500ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(3) {
  -webkit-animation: loader 3s 400ms infinite ease-in-out;
  animation: loader 3s 400ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(4) {
  -webkit-animation: loader 3s 300ms infinite ease-in-out;
  animation: loader 3s 300ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(5) {
  -webkit-animation: loader 3s 200ms infinite ease-in-out;
  animation: loader 3s 200ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(6) {
  -webkit-animation: loader 3s 100ms infinite ease-in-out;
  animation: loader 3s 100ms infinite ease-in-out;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-300px) scale(1);
  }
  33% {
    opacity: 1;
    transform: translateX(0px) scale(2);
  }
  66% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(300px) scale(2);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}


.news-total {
  margin-top: 100px;
}

.news-total:before {
  content: " ";
  display: block;
  border-top: 1px solid gray;
  margin-bottom: 5px;
}

.news__item {
  margin-top: 40px;
}

.errormsg {
  color: red;
}

.profile {
  min-width: 750px;
  margin: 20px;
  height: 200px;
}

.profile__city {
  margin-left: 15px;
}

.profile__item-title {
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

.profile__socials-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.profile__languages-list {
  margin-left: 15px;
}

.profile__languages-list li {
  margin-top: 5px;
}

.profile__socials-item {
  margin: 5px 0px 5px 15px;
}

.profile__socials-link {
  cursor: pointer;
  text-decoration: none;
  color: #343E9D;

}


.profile__socials-link:hover {
  color: red;
}

.gallery-modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}

.gallery-modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
}

.gallery-modal__title {
  text-align: center;
}

.gallery-modal__buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.gallery-modal__button {
  margin: 10px;
}